<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Site info -->
  {% seo %}

  <!-- Icons -->
  <link rel="shortcut icon" href="{{site.baseurl | prepend: site.url}}/assets/brand/favicon.ico">
  <link rel="apple-touch-icon" href="{{site.baseurl | prepend: site.url}}/assets/brand/apple-touch-icon.png">

  <!-- Style -->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css?v{{site.time | date: '%s'}}">{% if site.layout == 'responsive' %}
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">{% endif %}
  {% if site.testMode == 'on' %}<!-- Test mode -->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style-test.css?v{{site.time | date: '%s'}}">
  <script src="{{site.baseurl}}/assets/js/vendor/modernizr-3.2.0.min.js"></script>
  <meta name="robots" content="noindex, nofollow">{% endif %}

  <link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="{{"/feed.xml" | prepend: site.baseurl | prepend: site.url}}">
</head>
