/* Open Sans */
@font-face {
  font-family: 'Open sans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
       url('../fonts/OpenSans-Regular.woff') format('woff'),
       url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  }

@font-face {
  font-family: 'Open sans';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
       url('../fonts/OpenSans-Bold.woff') format('woff'),
       url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  }

@font-face {
  font-family: 'Open sans';
  src: url('../fonts/OpenSans-Light.woff2') format('woff2'),
       url('../fonts/OpenSans-Light.woff') format('woff'),
       url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  }

