
<!-- Contact Form -->
<form class="form-horizontal">
  <fieldset>

  <!-- Form Name -->
  <legend>Contact Form</legend>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-2 control-label" for="name">Name: </label>
    <div class="col-md-10">
    <input id="name" name="name" placeholder="Your Name" class="form-control input-md" required="" type="text">

    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-2 control-label" for="email">Email:</label>
    <div class="col-md-10">
    <input id="email" name="email" placeholder="Your Email" class="form-control input-md" required="" type="text">

    </div>
  </div>

  <!-- Multiple Checkboxes (inline) -->
  <div class="form-group">
    <label class="col-md-2 control-label" for="package">Package:</label>
    <div class="col-md-10">
      <label class="checkbox-inline" for="package-0">
        <input name="package" id="package-0" value="1" type="checkbox">
        1
      </label>
      <label class="checkbox-inline" for="package-1">
        <input name="package" id="package-1" value="2" type="checkbox">
        2
      </label>
      <label class="checkbox-inline" for="package-2">
        <input name="package" id="package-2" value="3" type="checkbox">
        3
      </label>
      <label class="checkbox-inline" for="package-3">
        <input name="package" id="package-3" value="4" type="checkbox">
        4
      </label>
    </div>
  </div>

  <!-- Select Basic -->
  <div class="form-group">
    <label class="col-md-2 control-label" for="option">Option:</label>
    <div class="col-md-10">
      <select id="option" name="option" class="form-control">
        <option value="1">Option one</option>
        <option value="2">Option two</option>
      </select>
    </div>
  </div>

  <!-- Textarea -->
  <div class="form-group">
    <label class="col-md-2 control-label" for="message">Message</label>
    <div class="col-md-10">
      <textarea class="form-control" id="message" name="message" rows="10" style="max-width:100%;"></textarea>
    </div>
  </div>

  <!-- File Button -->
  <div class="form-group">
    <label class="col-md-2 control-label" for="file_upload">File Upload:</label>
    <div class="col-md-10">
      <input id="file_upload" name="file_upload" class="input-file" type="file">
    </div>
  </div>

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-2 control-label" for="submit"></label>
    <div class="col-md-10">
      <button id="submit" name="submit" class="btn btn-xl btn-primary">Submit</button>
    </div>
  </div>

  </fieldset>
</form>