
<!-- Contact Form -->
<form class="form-horizontal" action="https://formspree.io/info@technologyandchoice.com" method="POST">
  <fieldset>

  <!-- Form Name -->
  <legend>Contact Form</legend>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-2 control-label" for="name">Name: </label>
    <div class="col-md-10">
    <input id="name" name="name" placeholder="Your Name" class="form-control input-md" required="" type="text">

    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-2 control-label" for="email">Email:</label>
    <div class="col-md-10">
    <input id="email" name="email" placeholder="Your Email" class="form-control input-md" required="" type="text">

    </div>
  </div>

  <!-- Textarea -->
  <div class="form-group">
    <label class="col-md-2 control-label" for="message">Message</label>
    <div class="col-md-10">
      <textarea class="form-control" id="message" name="message" rows="10" style="max-width:100%;"></textarea>
    </div>
  </div>

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-2 control-label" for="submit"></label>
    <div class="col-md-10">
      <button id="submit" class="btn btn-xl btn-primary">Submit</button>
    </div>
  </div>

  </fieldset>
</form>
