
<!-- Carousel with Caption -->
<div id="mainCarousel" class="carousel slide carousel-responsive-caption text-left">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#mainCarousel" data-slide-to="1"></li>
    <li data-target="#mainCarousel" data-slide-to="2"></li>
    <li data-target="#mainCarousel" data-slide-to="3"></li>
    <li data-target="#mainCarousel" data-slide-to="4"></li>
    <li data-target="#mainCarousel" data-slide-to="5"></li>
  </ol>

  <div class="carousel-inner">


    <!-- Slide 1 : Active -->
    <div class="item slide1 active">
      <div class="container">
      <div class="row">

        <div class="carousel-caption col-sm-12">
          <h3 class="caption-title">Example headline</h3>
          <p class="lead">Aliquam lobortis, nibh in elementum dignissim, tortor magna tempus nisl, ac blandit dolor elit eu nisi. Aliquam tincidunt.</p>
          <a href="#" class="btn btn-lg btn-primary">Learn more</a>
        </div><!-- /.carousel-caption -->

      </div><!-- /.row -->
    </div><!-- /.carousel-container -->
    </div><!-- /Slide1 -->


    <!-- Slide 2 -->
    <div class="item slide2">
      <div class="container">
      <div class="row">

        <div class="carousel-caption col-sm-12">
          <h3 class="caption-title">Another example headline</h3>
          <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <a href="#" class="btn btn-lg btn-primary">Learn more</a>
        </div><!-- /.carousel-caption -->

      </div><!-- /.row -->
    </div><!-- /.carousel-container -->
    </div><!-- /Slide2 -->


    <!-- Slide 3 -->
    <div class="item slide3">
      <div class="container">
      <div class="row">

        <div class="carousel-caption col-sm-12">
          <h3 class="caption-title">Catchy headlines</h3>
          <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <a href="#" class="btn btn-lg btn-primary">Learn more</a>
        </div><!-- /.carousel-caption -->

      </div><!-- /.row -->
    </div><!-- /.carousel-container -->
    </div><!-- /Slide3 -->


    <!-- Slide 4 -->
    <div class="item slide4">
      <div class="container">
      <div class="row">

        <div class="carousel-caption col-sm-12">
          <h3 class="caption-title">One more for good measure</h3>
          <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <a href="#" class="btn btn-lg btn-primary">Learn more</a>
        </div><!-- /.carousel-caption -->

      </div><!-- /.row -->
    </div><!-- /.carousel-container -->
    </div><!-- /Slide4 -->


    <!-- Slide 5 -->
    <div class="item slide5">
      <div class="container">
      <div class="row">

        <div class="carousel-caption col-sm-12">
          <h3 class="caption-title">Last example headline</h3>
          <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <a href="#" class="btn btn-lg btn-primary">Learn more</a>
        </div><!-- /.carousel-caption -->

      </div><!-- /.row -->
    </div><!-- /.carousel-container -->
    </div><!-- /Slide5 -->


    <!-- Slide 6 -->
    <div class="item slide6">
      <div class="container">
      <div class="row">

        <div class="carousel-caption col-sm-12">
          <h3 class="caption-title">One more example headline</h3>
          <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <a href="#" class="btn btn-lg btn-primary">Learn more</a>
        </div><!-- /.carousel-caption -->

      </div><!-- /.row -->
    </div><!-- /.carousel-container -->
    </div><!-- /Slide6 -->



  </div><!-- /.carousel-inner -->


  <!-- Controls -->
  <div class="control-box">
    <a class="left carousel-control" href="#mainCarousel" role="button" data-slide="prev">
      <span class="control-icon prev genericon genericon-previous" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#mainCarousel" role="button" data-slide="next">
      <span class="control-icon next genericon genericon-next" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div><!-- /.control-box -->


  <a class="smooth-scroll" href="#about"><span class="animated infinite bounce genericon genericon-expand"></span></a>


</div><!-- /#mainCarousel -->
