<!-- Testimonials -->
<section id="testimonials" class="section-block">
  <div class="container">


    <h2 class="title text-center">What Are People Saying About Us?</h2>


    <div data-ride="carousel" class="carousel slide" id="testimonials-carousel">


      <ol class="carousel-indicators">
        <li class="" data-slide-to="0" data-target="#testimonials-carousel"></li>
        <li data-slide-to="1" data-target="#testimonials-carousel" class=""></li>
        <li data-slide-to="2" data-target="#testimonials-carousel" class="active"></li>
      </ol><!--//carousel-indicators-->


      <div class="carousel-inner">


        <div class="item">
          <figure class="profile quote-profile"><img class="img-circle" src="{{site.baseurl}}/assets/img/face01.jpg" alt="" ></figure>
          <div class="content">
            <blockquote>
              <i class="fa fa-quote-left"></i>
              <p>We used Velocity as a front-end design template for our product site. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elit tortor, consectetur vitae varius at, interdum eget libero. Morbi.</p>
            </blockquote>

            <p class="source">Kevin Knight<br><span class="title">Co-Founder, Startup Hub</span></p>
          </div><!--//content-->
        </div><!--//item-->


        <div class="item">
          <figure class="profile quote-profile"><img class="img-circle" src="{{site.baseurl}}/assets/img/face02.jpg" alt="" ></figure>
          <div class="content">
            <blockquote>
              <i class="fa fa-quote-left"></i>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint.</p>
            </blockquote>
            <p class="source">Diana Luna<br><span class="title">Entrepreneur, Maecenas</span></p>
          </div><!--//content-->
        </div><!--//item-->


        <div class="item active">
          <figure class="profile quote-profile"><img class="img-circle" src="{{site.baseurl}}/assets/img/face03.jpg" alt="" ></figure>
          <div class="content">
            <blockquote>
              <i class="fa fa-quote-left"></i>
              <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere.</p>
            </blockquote>
            <p class="source">Tony Lee<br><span class="title">CTO, Lorem Ipsum</span></p>
          </div><!--//content-->
        </div><!--//item-->


      </div><!--//carousel-inner-->


      <!-- Controls -->
      <div class="control-box">
        <ul class="pagination">
          <li><a data-slide="prev" href="#testimonials-carousel" class="left">&lsaquo;</a></li>
          <li><a data-slide="next" href="#testimonials-carousel" class="right">&rsaquo;</a></li>
        </ul>
      </div><!-- /.control-box -->


    </div><!--//carousel-->
  </div><!--//container-->
</section><!-- /Testimonials -->

