
<!-- Carousel -->
<div id="mainCarousel" class="carousel slide carousel-fade">

	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#mainCarousel" data-slide-to="1"></li>
		<li data-target="#mainCarousel" data-slide-to="2"></li>
		<li data-target="#mainCarousel" data-slide-to="3"></li>
		<li data-target="#mainCarousel" data-slide-to="4"></li>
    <li data-target="#mainCarousel" data-slide-to="5"></li>
	</ol>

	<div class="carousel-inner">


    <!-- Slide 1 : Active -->
    <div class="item slide1 active">
      <a href="#"><img src="{{site.baseurl}}/assets/img/banner-slider-01.jpg" alt=""></a>
    </div><!-- /Slide1 -->


    <!-- Slide 2 -->
    <div class="item slide2">
      <a href="#"><img src="{{site.baseurl}}/assets/img/banner-slider-02.jpg" alt=""></a>
    </div><!-- /Slide2 -->


    <!-- Slide 3 -->
    <div class="item slide3">
      <a href="#"><img src="{{site.baseurl}}/assets/img/banner-slider-03.jpg" alt=""></a>
    </div><!-- /Slide3 -->


    <!-- Slide 4 -->
    <div class="item slide4">
      <a href="#"><img src="{{site.baseurl}}/assets/img/banner-slider-04.jpg" alt=""></a>
    </div><!-- /Slide4 -->


    <!-- Slide 5 -->
    <div class="item slide5">
      <a href="#"><img src="{{site.baseurl}}/assets/img/banner-slider-05.jpg" alt=""></a>
    </div><!-- /Slide5 -->


    <!-- Slide 6 -->
    <div class="item slide5">
      <a href="#"><img src="{{site.baseurl}}/assets/img/banner-slider-06.jpg" alt=""></a>
    </div><!-- /Slide6 -->


  </div><!-- /.carousel-inner -->


  <!-- Controls -->
  <div class="control-box">
    <a class="left carousel-control" href="#mainCarousel" role="button" data-slide="prev">
      <span class="control-icon prev genericon genericon-previous" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#mainCarousel" role="button" data-slide="next">
      <span class="control-icon next genericon genericon-next" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div><!-- /.control-box -->


</div><!-- /#mainCarousel -->
