
<!-- Portfolio -->
<section id="portfolio" class="section-block">
	<div class="container">

		  <header class="header-box">
		    <div class="page-header">
		      <h2>Latest Works</h2>
		      <p class="lead">Check out our latest artworks, projects and stories here!</p>
		      <a href="#" class="label label-primary view-all">View All</a>
		    </div>
		  </header>

		<div class="row">


			<div class="col-sm-3 portfolio-item">
				<a href="#project-link"><img src="http://placehold.it/900x600" class="img-responsive" alt="" ></a>
				<h3><a href="#project-link">Project Name</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
				<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
			</div><!-- /.portfolio-item -->


			<div class="col-sm-3 portfolio-item">
				<a href="#project-link"><img src="http://placehold.it/900x600" class="img-responsive" alt="" ></a>
				<h3><a href="#project-link">Project Name</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
				<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
			</div><!-- /.portfolio-item -->


			<div class="col-sm-3 portfolio-item">
				<a href="#project-link"><img src="http://placehold.it/900x600" class="img-responsive" alt="" ></a>
				<h3><a href="#project-link">Project Name</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
				<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
			</div><!-- /.portfolio-item -->


			<div class="col-sm-3 portfolio-item">
				<a href="#project-link"><img src="http://placehold.it/900x600" class="img-responsive" alt="" ></a>
				<h3><a href="#project-link">Project Name</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
				<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
			</div><!-- /.portfolio-item -->


		</div><!-- /.row -->
	</div><!-- /.container -->
</section>

