
<!-- Services -->
<section id="services" class="section-block">
	<div class="container">
		<div class="row">

			<div class="page-header text-center">
  			<h2>Services</h2>
			  <p class="byline">Pellentesque ornare sem</p>
			</div><!-- /.page-header-->

      <div class="col-sm-12">
		  	<p class="lead">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
      </div><!-- /.col-sm-12 -->

			<div class="col-sm-4">
				<div class="service-box">
					<img src="{{site.baseurl}}/assets/img/image-02.jpg" class="img-responsive" alt="" />
					<div class="service-box-text">
						<h3>Service One</h3>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum.</p>
					</div>
				</div><!-- /.service-box -->
			</div><!-- /.col-sm-4 -->

			<div class="col-sm-4">
				<div class="service-box">
					<img src="{{site.baseurl}}/assets/img/image-03.jpg" class="img-responsive" alt="" />
					<div class="service-box-text">
						<h3>Service Two</h3>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum.</p>
					</div>
				</div><!-- /.serivce-box -->
			</div><!-- /.col-sm-4 -->

			<div class="col-sm-4">
				<div class="service-box">
					<img src="{{site.baseurl}}/assets/img/image-04.jpg" class="img-responsive" alt="" />
					<div class="service-box-text">
						<h3>Service Three</h3>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum.</p>
					</div>
				</div><!-- /.serivce-box -->
			</div><!-- /.col-sm-4 -->

		</div><!-- /.row -->
	</div><!-- /.container -->
</section>