<!-- Jumbotron -->
{% if page.image %}
<div class="jumbotron main-header main-header-bg" style="background-image: url('{{site.baseurl}}/{{ page.image }}'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
{% else %}
<div class="jumbotron main-header">
{% endif %}
  <div class="container">

    <div class="row">
      <div class="col-md-12 jumbotron-text scroll-fade">
        <h2>Welcome to the</h2>
        <h1 class="post-title" itemprop="name headline">Technology and Choice</h1>
        <h2>Community</h2>
      </div><!-- /.col-sm-12 -->
      <div class="col-md-12 text-right">
        <!-- <h2>Join the Conversation</h2> -->
        <p><a class="btn btn-default btn-lg" href="https://tinyletter.com/technologyandchoice">Subscribe to our newsletter</a></p>
      </div>
    </div><!-- /.row -->

  </div><!-- /.container -->
</div><!-- /.jumbotron -->
