
<!-- About -->
<section id="about" class="section-block">
	<div class="container">


		<div class="page-header text-center">
		  <h2 class="section-title">About Us</h2>
		  <p class="byline">Pellentesque ornare sem vel scelerisque</p>
		</div><!-- /.page-header-->


		<div class="row">


			<div class="col-sm-7">

				<p class="lead">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>

				<ul class="tick-box nostyle">
					<li><i class="genericon genericon-checkmark check-green"></i> Pellentesque ornare</li>
					<li><i class="genericon genericon-checkmark check-green"></i> Sem lacinia quam venenatis</li>
					<li><i class="genericon genericon-checkmark check-green"></i> Aenean eu leo quam</li>
					<li><i class="genericon genericon-checkmark check-green"></i> Vestibulum</li>
				</ul>

			</div>


			<div class="col-sm-5">
			  <img src="{{site.baseurl}}/assets/img/image-04.jpg" class="img-responsive" alt="" />
			</div>


		</div><!-- /.row -->

	</div><!-- /.container -->
</section>