
<!-- About 2 -->
<section id="about2" class="section-block dark-bg">
  <div class="container">
    <div class="row">


      <div class="col-md-5 col-md-push-7">
        <h2 class="title">Our Goal</h2>

        <div class="desc">
          <p class="lead">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
          <p><a class="btn btn-large btn-primary" href="#"><i class="genericon genericon-mail"></i> Contact Us</a></p>
        </div>

        <div class="quote">
          <div class="quote-content">
            <blockquote>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</blockquote>
            <p class="source">@Angela Mia</p>
          </div><!--/.quote-content-->
        </div><!--/.uote-->

      </div><!--/.col-md-5 -->


      <figure class="col-md-7 col-md-pull-5">
        <img src="{{site.baseurl}}/assets/img/image-05.jpg" class="img-responsive" alt="" />
      </figure><!--/.col-md-7 -->


    </div><!--/.row -->
  </div><!--/.container -->
</section>