
<!-- Partners -->
<section id="partners" class="section-block full-bg">
	<div class="container">
		<div class="row">

			<div class="page-header text-center">
			  <h2>Our Partners</h2>
			  <p class="byline">Cool People Who Support Us</p>
			</div><!-- /.page-header-->


			<div class="partner-list">

				<div class="col-xs-4 col-md-2">
					<img src="{{site.baseurl}}/assets/img/partners-01.jpg" class="thumbnail img-responsive" alt="partners" >
				</div>

				<div class="col-xs-4 col-md-2">
					<img src="{{site.baseurl}}/assets/img/partners-02.jpg" class="thumbnail img-responsive" alt="partners" >
				</div>

				<div class="col-xs-4 col-md-2">
					<img src="{{site.baseurl}}/assets/img/partners-03.jpg" class="thumbnail img-responsive" alt="partners" >
				</div>

				<div class="col-xs-4 col-md-2">
					<img src="{{site.baseurl}}/assets/img/partners-04.jpg" class="thumbnail img-responsive" alt="partners" >
				</div>

				<div class="col-xs-4 col-md-2">
					<img src="{{site.baseurl}}/assets/img/partners-05.jpg" class="thumbnail img-responsive" alt="partners" >
				</div>

				<div class="col-xs-4 col-md-2">
					<img src="{{site.baseurl}}/assets/img/partners-06.jpg" class="thumbnail img-responsive" alt="partners" >
				</div>

			</div><!-- /.partner-list -->


		</div><!-- /.row -->
	</div><!-- /.container -->
</section>