
<!-- Team -->
<section id="team" class="section-block">
	<div class="container">
		<div class="row">

			<div class="page-header text-center">
  			<h2>Our Team</h2>
			  <p class="byline">Praesent commodo cursus magna</p>
			</div><!-- /.page-header-->

			<div class="team-list col-xs-4 col-sm-2">
				<a class="thumbnail" onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" data-placement="bottom" title="Angela Baby - CEO">
				<img src="{{site.baseurl}}/assets/img/face01.jpg" class="img-responsive" alt="Angela Baby">
				</a>
			</div>

			<div class="team-list col-xs-4 col-sm-2">
				<a class="thumbnail" onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" data-placement="bottom" title="Kevin Bright - CTO">
				<img src="{{site.baseurl}}/assets/img/face02.jpg" class="img-responsive" alt="Kevin Bright">
				</a>
			</div>

			<div class="team-list col-xs-4 col-sm-2">
				<a class="thumbnail" onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" data-placement="bottom" title="Avril Lavigne - Art Director">
				<img src="{{site.baseurl}}/assets/img/face03.jpg" class="img-responsive" alt="Avril Lavigne">
				</a>
			</div>

			<div class="team-list col-xs-4 col-sm-2">
				<a class="thumbnail" onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" data-placement="bottom" title="Susan Whibley - Marketing Manager">
				<img src="{{site.baseurl}}/assets/img/face04.jpg" class="img-responsive" alt="Susan Whibley">
				</a>
			</div>

			<div class="team-list col-xs-4 col-sm-2">
				<a class="thumbnail" onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" data-placement="bottom" title="Kevin Bright - Designer">
				<img src="{{site.baseurl}}/assets/img/face05.jpg" class="img-responsive" alt="Kevin Bright">
				</a>
			</div>

			<div class="team-list col-xs-4 col-sm-2">
				<a class="thumbnail" onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" data-placement="bottom" title="Jane Ponda - Designer">
				<img src="{{site.baseurl}}/assets/img/face06.jpg" class="img-responsive" alt="Frank Chiu">
				</a>
			</div>
		</div>


		<div class="row">
			<div class="team-list col-xs-4 col-sm-2">
				<a class="thumbnail" onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" data-placement="bottom" title="Adam Smith - QC">
				<img src="{{site.baseurl}}/assets/img/face07.jpg" class="img-responsive" alt="Adam Smith">
				</a>
			</div>

			<div class="team-list col-xs-4 col-sm-2">
				<a class="thumbnail" onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" data-placement="bottom" title="Alex Founder - Developer">
				<img src="{{site.baseurl}}/assets/img/face08.jpg" class="img-responsive" alt="Alex Founder">
				</a>
			</div>

			<div class="team-list col-xs-4 col-sm-2">
				<a class="thumbnail" onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" data-placement="bottom" title="Julia Lullaby - Accountant">
				<img src="{{site.baseurl}}/assets/img/face09.jpg" class="img-responsive" alt="Julia Lullaby">
				</a>
			</div>

			<div class="team-list col-xs-4 col-sm-2">
				<a class="thumbnail" onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" data-placement="bottom" title="Ruby Haraway - Music Director">
				<img src="{{site.baseurl}}/assets/img/face10.jpg" class="img-responsive" alt="Ruby Haraway">
				</a>
			</div>

			<div class="team-list col-xs-4 col-sm-2">
				<a class="thumbnail" onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" data-placement="bottom" title="Susan Spears - QA">
				<img src="{{site.baseurl}}/assets/img/face11.jpg" class="img-responsive" alt="Susan Spears">
				</a>
			</div>

			<div class="team-list col-xs-4 col-sm-2">
				<a class="thumbnail" onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" data-placement="bottom" title="Angela Baby - Developer">
				<img src="{{site.baseurl}}/assets/img/face12.jpg" class="img-responsive" alt="Angela Baby">
				</a>
			</div>

		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /#team -->