body.fixed-nav { margin-top: 50px; }


/* NNAVBAR
-------------------------------------- */
.navbar {
  background: $navbar-bg;
  border: 0;
  border-bottom: $navbar-border-bottom;
  border-radius: 0;
  margin: 0;
  }


/* Logo style
-------------------------------------- */
.navbar-default .navbar-brand {
  color: #333;
  font-size: 2rem;
  margin: 0;
  width: $navbar-logo-mobile-width;
  padding: $navbar-logo-mobile-padding;
  }


  /* Slogan */
  .navbar-default .navbar-brand small {
    color: #aaa;
    font-size: 1.125rem;
    }
    .navbar-default .navbar-brand.logo-image small {
       display: none;
      }
    @media (max-width:991px) {
      .navbar-default .navbar-brand small {
       display: none;
      }
    }


/* NAV MENU
-------------------------------------- */
/* Navbar Menu UL */
.navbar-nav {
  float: $navbar-nav-float;
  margin: $navbar-nav-margin;
  }


/* Navbar Links */
.navbar-default .navbar-nav > li > a {
  font-size: 0.875rem;
  color: $navbar-nav-link-color;
  text-shadow: none;
  padding-left: 8px;
  padding-right: 8px;
  }


  /* Hover */
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-nav li.dropdown > .dropdown-toggle:hover,
  .navbar-nav li.dropdown.open > .dropdown-toggle:hover {
    color: $navbar-nav-link-hover-color;
    background-color: $navbar-nav-link-hover-bg;
    }

  /* Active */
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: $navbar-nav-link-active-color;
    background-color: $navbar-nav-link-active-bg;
    }

  /* Focus */
  .navbar-nav li.dropdown.open.active > .dropdown-toggle,
  .navbar-nav > li.dropdown > a:focus {
    background-color: inherit;
    }



/* Desktop Menu Style */
  @media (min-width:992px) {
    body.fixed-nav {
      margin-top: $navbar-height;
      }
    .navbar {
      height: $navbar-height;
      }
    .navbar-default .navbar-brand {
      width: $navbar-logo-width;
      padding: $navbar-logo-padding;
      }
    .logo-box .slogan {
      display: inline-block;
      }
    .navbar-nav {
      padding: $navbar-nav-desktop-padding;
      }
    .navbar-default .navbar-nav > li > a {
      font-size: ($navbar-nav-link-size/$base-font-size)*1rem;
      padding: $navbar-nav-desktop-link-padding;
      border-radius: 5px;
      }
  }



/* DROPDOWN MENU
-------------------------------------- */

/* Indicates When Dropdown is open.
Change this when you use mouse hover. */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: inherit;
  color: inherit;
  }


.dropdown-menu {
  padding: 0;
  }
  /* Dropdown link */
  .dropdown-menu > li > a {
    font-size: inherit;
    }
  /* Caret Opened */
  .dropdown.open .caret {
    transform: rotate(180deg);
  }


/* Dropdown header */
.dropdown-header {
  color: #999;
  display: block;
  font-size: 0.8125em;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: none;
  }



/* DROPDOWN DESKTOP MENU */
@media (min-width: $mobile-break-point + 1px)  {

  /* Dropdown Arrow */
  .dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    content: '';
    }
    .dropdown-menu:after {
      position: absolute;
      top: -6px;
      left: 10px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #fff;
      border-left: 6px solid transparent;
      content: '';
      }


  /* Dropdown box */
  .dropdown-menu {
    border-radius: 0px;
    padding: 0;
    margin: 0;
    }

    /* Dropdown Header */
    .dropdown-header:first-child {
      padding-top: 16px;
      }

    /* Dropdown Link */
    .dropdown-menu > li > a {
      padding: 8px 20px;
      }

      /* Dropdown Link Hover */
      .dropdown-menu > li > a:hover,
      .dropdown-menu > li > a:focus,
      .dropdown-submenu:hover > a,
      .dropdown-submenu:focus > a {
        background-color: #dddddd;
        background-image: none;
        color: inherit;
        opacity: 0.5;
        }

        /* Dropdown Link Active */
        .dropdown-menu > .active > a,
        .dropdown-menu > .active > a:hover,
        .dropdown-menu > .active > a:focus {
          background-color: #999;
          background-image: none;
          color: #fff;
          }

/* End */
}






/* MOBILE MENU
-------------------------------------- */
@media (max-width: $mobile-break-point) {


  /* Navbar position */
  .navbar-default .navbar-nav { float: none !important; }
  .navbar-default .navbar-collapse { max-height: none; }
  .navbar-default .container { width: 100%; }


  /* Menu */
  .navbar-collapse {
    background: #333;
    }
    .navbar-collapse .navbar-nav {
      margin: 0 -15px;
      }


    /* Mobile Menu Inner Border Divider */
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
      border-color: $navbar-nav-collapse-divider;
      }


    /* Menu Link */
    .navbar-collapse .navbar-nav li {
      border-top: 1px solid #444;
      border-bottom: 1px solid #000;
      }
      .navbar-collapse .navbar-nav li a {
        color: #ccc !important;
        font-size: 0.875rem;
        line-height: normal !important;
        padding: 10px 15px;
        }

      /* Hover */
      .navbar-collapse .navbar-nav > li > a:hover,
      .navbar-collapse .navbar-nav > .active > a:hover {
        background-color: #777;
        color: #fff;
        }

      /* Active */
      .navbar-collapse .navbar-nav > .active > a  {
        background-color: #555;
        color: #fff;
        }

      /* Focused */
      .navbar-collapse .navbar-nav > li > a:focus,
      .navbar-collapse .navbar-nav > .active > a:focus,
      .navbar-collapse .navbar-nav > .open > a:focus {
        background-color: #333;
        }


    /* Dropdown */
    .navbar-collapse .navbar-nav .dropdown-menu li {
      border: 0;
      }
      .navbar-collapse .navbar-nav li.divider {
        display: none;
        }
        /* Caret */
        .navbar-nav li.dropdown > .dropdown-toggle .caret {
          border-top-color: #999;
          border-bottom-color: #999;
          }


        /* Dropdown Header */
        .dropdown-header {
          padding: 20px 15px 5px !important;
          }


        /* Dropdown Link */
        .dropdown-menu > li { background-color: #222; }
        .navbar-nav .open .dropdown-menu > li > a {
          padding: 8px 25px;
          }


            /* Dropdown Link Hover */
            .navbar-nav li.dropdown > .dropdown-toggle:hover,
            .navbar-nav li.dropdown.open > .dropdown-toggle:hover,
            .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
            .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
            .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
            .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
            .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
              background-color: #555;
              color: #fff;
              }
/* End */
}




/* MOBILE TOGGLE BUTTON
-------------------------------------- */

/* Toggle Button Box */
.navbar-default .navbar-toggle {
  background: $navbar-toggle-bg;
  border: 0;
  border-radius: 0;
  height: 34px;
  padding: 8px 6px;
  }


  /* Closed */
  .navbar-toggle.collapsed {
    transform: rotate(0deg);
      .top-bar    { transform: rotate(0); }
      .middle-bar { opacity: 1; }
      .bottom-bar { transform: rotate(0); }
      }


  /* Opened */
  .navbar-toggle {
    transform: rotate(-90deg);
      .top-bar    { transform: rotate(45deg); transform-origin: 4px 5px; }
      .middle-bar { opacity: 0; }
      .bottom-bar { transform: rotate(-45deg); transform-origin: 5px -2px; }
      }


  /* Toggle Button Icon */
  .navbar-default .navbar-toggle .icon-bar {
    background-color: $navbar-toggle-color;
    height: 2px;
    width: 22px;
    }


    /* Hover */
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
      background: $navbar-toggle-hover-bg;
      }

      /* Toggle Button Icon Hover*/
      .navbar-default .navbar-toggle:focus .icon-bar,
      .navbar-default .navbar-toggle:hover .icon-bar {
        background-color: $navbar-toggle-hover-color;
      }



/* Dropdown Hover: Add .mouseover class to UL.
Desktop ONLY. Use JS for both Desktop and Mobile devices. */
@media (min-width: $mobile-break-point + 1px)  {
  .navbar-nav.mouseover {
    li.dropdown.open > .dropdown-toggle,
    li.dropdown.active > .dropdown-toggle,
    li.dropdown.open.active > .dropdown-toggle {
      background: inherit;
      color: inherit;
      }
      .dropdown:hover .dropdown-menu { display: block; margin-top: 0; }
      .dropdown.open .caret { transform: rotate(0deg) }
      .dropdown-toggle { pointer-events: none; }
  }
}



/* NAVBAR AFFIX
--------------------------------------
@media (min-width:992px) {
  .navbar-fixed-top.affix {
    height: 50px;
  }
  .navbar-fixed-top.affix .navbar-nav {
    padding: 4px 0;

  }
  .navbar-fixed-top.affix .navbar-brand {
      margin-top: -80px;
      }
}
*/


/* NAVBAR Pull-up Menu
-------------------------------------- */
.pull-up-menu.navbar-fixed-top.scroll-down {
  transform: translate3d(0, -$navbar-height, 0); /* use translate to fix Safari image rendering bug */
  }
  @media (max-width: $mobile-break-point) {
  .navbar-fixed-top.pull-up-menu {
    position: fixed;
    }
  }
